.overflow {
  overflow: hidden;
}

.no-gutter {
    padding-right:0;
    padding-left:0;
}

.font-minion-pro {
  font-family: 'minion-pro' !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.font-lato {
  font-family: 'Lato' !important;
  font-style: normal !important;
  font-weight: normal !important;
}

.font-lato-bold {
  font-family: 'Lato' !important;
  font-style: normal !important;
  font-weight: 700 !important;
}

.font-lato-light {
  font-family: 'Lato' !important;
  font-style: normal !important;
  font-weight: 300 !important;
}

.font-bodoni {
  font-family: 'ltc-bodoni-175' !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.font-bodoni-italic {
  font-family: 'ltc-bodoni-175'!important;
  font-style: italic !important;
  font-weight: 400 !important;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: @screen-sm-min) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: @screen-md-min) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: @screen-lg-min) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
