.page-node-28 {
  #block-inprint, #block-onlineanddigital {
    h2 {
      color: @AspiCharcoal;
      text-transform: uppercase;
      text-align: center;
    }
    img {
      margin: auto;
      width: 70%;
    }
  }
  .download-button {
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 24px;
    margin-top: 20px;
    padding: 10px 0 10px 0;
    background-color: lightgray;
    color: rosybrown;
  }
}
