.view-category-display-views {
  .view-text {
    padding: 15px 0 15px 0;
  }
  .views-field-body {
    a {
      padding-top: 15px;
    }
  }
  .views-field-image {
    img {
      margin: auto;
    }
  }
  .views-row {
    min-height: 404px;
  }
}

.ad-full-width-image {
  padding-bottom: 50px;
}
