.page-node-29 {

}

#block-views-block-read-online-block-1 {
  float: left;
  width: 80%;
  clear: both;
  img {
    margin: auto;
  }
  .group {
    position: relative;
  }
  .views-field-title {
    background-color: rgba(191, 191, 191, 0.5);
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    a {
      width: 90%;
      word-wrap: break-word;
      display: block;
      margin: 0 auto;
      font-family: 'minion-pro' !important;
      font-style: normal !important;
      font-weight: 400 !important;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 18px;
      color: white;
      text-shadow: 2px 2px black;
      text-decoration: none;
      text-align: center;
      padding: 5px 0 5px 0;
    }
  }
  .views-row {
    padding-bottom: 30px;
  }
}

#block-readonlineadvert {
  float: right;
  width: 20%;
  .field--name-body {
    text-align: center;
    margin-top: 30px;
    border-bottom: 1px dotted @AspiCharcoal;
    border-top: 1px dotted @AspiCharcoal;
    padding: 5px 0 5px 0;
    a {
      color: @AspiDarkGrey;
    }
  }
}

@media (max-width: @screen-xs-max) {
  #block-views-block-read-online-block-1 {
    width: 100%;
  }
}
