// Content Section
.region-content {
  clear: both;
}

#block-ourcoverage {
  clear: both;
}

#block-sidebaradverts,
#block-homepageleftsidebar,
#block-beautyhealthlifestyleleftsidebar,
#block-itsamansworldleftsidebar,
#block-househomegardenleftsidebar,
#block-finediningguideleftsidebar,
#block-businessfinanceleftsidebar,
#block-socialnetworkingleftsidebar,
#block-giftguideleftsidebar {
  position: absolute;
  margin-left: -250px;
  width: 250px;
  .field--name-field-image {
    padding-bottom: 20px;
  }
}

#block-beautyhealthlifestyleleftsidebar,
#block-itsamansworldleftsidebar,
#block-househomegardenleftsidebar,
#block-finediningguideleftsidebar,
#block-businessfinanceleftsidebar,
#block-socialnetworkingleftsidebar,
#block-giftguideleftsidebar,
#block-beautyhealthlifestylerightsidebar,
#block-itsamansworldrightsidebar,
#block-househomegardenrightsidebar,
#block-finediningguiderightsidebar,
#block-businessfinancerightsidebar,
#block-socialnetworkingrightsidebar,
#block-giftguiderightsidebar {
  top: 590px;
}
#block-sidebaradverts,
#block-homepageleftsidebar,
#block-sidebaradverts-2,
#block-homepagerightsidebar {
    top: 450px;
}

#block-sidebaradverts-2,
#block-homepagerightsidebar,
#block-beautyhealthlifestylerightsidebar,
#block-itsamansworldrightsidebar,
#block-househomegardenrightsidebar,
#block-finediningguiderightsidebar,
#block-businessfinancerightsidebar,
#block-socialnetworkingrightsidebar,
#block-giftguiderightsidebar {
  position: absolute;
  margin-left: 1140px;
  width: 250px;
  .field--name-field-image {
    padding-bottom: 20px;
  }
}
