
footer {
  p {
    color: @AspiDarkGrey;
  }
}

#block-horizontalmenu-2 {
  border-bottom: dotted 1px @AspiGrey;
  padding: 20px 0px 20px 0px;
  li:not(:last-child) {
    border-right: dotted 1px @AspiGrey;
  }
  li {
    text-align: center;
  }
  a {
    padding: 0px 5px 0px 2px;
    color: @AspiGrey;
    text-transform: capitalize;
    font-size: 12px;
    &:hover {
      color: @AspiDarkGrey;
      text-decoration: none;
    }
  }
}
#block-phonenumber {
  font-family: 'Lato' !important;
  font-style: normal !important;
  font-weight: normal !important;
  padding-top: 10px;
  p {
    font-size: 18px;
  }
}
#block-championsaddress {
  font-size: 12px;
}

#block-contactaspirationallogo {
  img {
    margin: auto;
  }
}

.form-inline {
  .form-control {
    width: 100% !important;
  }
}
